{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "plugin:cypress/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "react/require-default-props": "off"
  }
}